<h1 class="text-center"> <%= @user.username %>'s profile </h1>

<%= gravatar_for @user, size:200%>
<div class="container text-center">
    <a class="text-center" href= "https://en.gravatar.com/site/signup/"> Change profile image with Gravatar.</a>
</div>

<div class="text-center mt-4">
    <%= link_to "Edit your Profile", edit_user_path(@user.id), class: "btn btn-outline-primary" %>
</div>

<h3 class="m-4 text-center"> <%= @user.username %>'s reviews </h3>

<div class="apple_pagination">
    <%= will_paginate @reviews, :container => false %>
</div>

<%= render 'reviews/review', obj: @reviews %>

<div class="apple_pagination mb-5 mt-4">
    <%= will_paginate @reviews, :container => false %>
</div>    

