<div id="page-content">
<% if @trails.length() > 0 %>
    <% @trails.each do |trail|%>
        <div class="card m-3 p-3">
            <% if trail[:primaryname]%>
                <strong>Trail Name: </strong> <%= trail[:primaryname]%>
            <% end %>

            <% if trail[:hikedifficulty]%>
                <strong>Hike Difficulty: </strong> <%= trail[:hikedifficulty]%>
            <% end %>
            <% if trail[:bikedifficulty]%>
                <strong>Bike Difficulty: </strong> <%= trail[:bikedifficulty]%>
            <% end %>
            <% if trail[:designateduses]%>
                <strong>Type: </strong> <%= trail[:designateduses]%>
            <% end %>
            <% if trail[:recreationarea]%>
                <strong>Location: </strong> <%= trail[:recreationarea]%>
            <% end %>
            <div class="mt-3 mb-0 row">
                <div class = "col-10">
                    <%= link_to "View this trail.", find_trails_path(trail: trail), class: "btn btn-primary", method: :post%>
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <div class="container bg-light p-2 my-3 rounded">
        <h2 class="text-center my-4"> No Trails found with specified parameters </h2>
        <div class="row justify-content-center">
            <%= link_to "Return to Search", trail_search_path, class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
</div>