<% if @review.errors.any? %>
    <h2> The following errors prevented the review from being saved: </h2>
    <ul>
        <% @review.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end %>
    </ul>
<% end %>
<%= form_with scope: :review, url: reviews_path, local: true do |f| %>
 <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="text_field" class="form-control" id="exampleFormControlInput1" placeholder="title">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Review goes here</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<p>
    <%= f.label :title %>
    <%= f.text_field :title %>
</p>

<p>
    <%= f.label :body %>
    <%= f.text_area :body %>
</p>

<p>
    <%= f.submit %>
</p>



<% end %>