<h1 class ="text-center"><%= @review.title %></h1>

<div id="page-content">
    <div class="container">
        <div class="row justify-content-md-center mt-4">
            <div class="col-8">
                <div class="card shadow" style="width: 100%;">
                    <div class="card-header text-muted text-center">
                        <small> Created <%= time_ago_in_words(@review.created_at) %> ago by <%= @review.user.username %></small>
                        <%= link_to gravatar_for(@review.user, size: 40), user_path(@review.user.id)%>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><%= simple_format(@review.body) %></p>
                     </div>
                </div>
                <div class = "container row p-3 justify-content-left">
                    <%= link_to 'Return to Reviews', reviews_path, class: "m-3 btn btn-primary" %>
                    <%= link_to "Delete", review_path(@review), class:"m-3 btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                </div>
            </div>
        </div>
    </div>
</div>

